<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>

    <rewrite>
      <rules>
        <rule name="Hugo clean URLs" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(.*)\." negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>

    <staticContent>
      <remove fileExtension=".yaml" />
      <remove fileExtension=".yml" />
      <mimeMap fileExtension=".yaml" mimeType="application/yaml; charset=utf-8" />
      <mimeMap fileExtension=".yml"  mimeType="application/yaml; charset=utf-8" />
      <mimeMap fileExtension=".json" mimeType="application/json; charset=utf-8" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>

    <caching>
      <profile enabled="true" location="Client" duration="30.00:00:00">
        <add extension=".yaml" policy="CacheForTimePeriod" duration="365.00:00:00" />
        <add extension=".yml"  policy="CacheForTimePeriod" duration="365.00:00:00" />
        <add extension=".json" policy="CacheForTimePeriod" duration="365.00:00:00" />
      </profile>
    </caching>

  </system.webServer>
</configuration>